.label {
    -fx-font-family: "DVN-Poppins";
}

.text-field {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 5px;
}

.button {
    -fx-background-color: #158C62;
    -fx-font-family: "DVN-Poppins ExtBd";
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 7, 0.1, 0.1, 0);
}

.button:hover {
    -fx-background-color: #44BC91;
}

.text-field:focused {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 7, 0.1, 0.1, 0);
}

#customizeDeckLabel {
    -fx-font-family: "DVN-Poppins ExtBd";
    -fx-font-size: 18px;
    -fx-text-fill: #44BC91;
    -fx-alignment: center;
}

#backBtn {
    -fx-graphic: url(resource/arrowBack.png);
    -fx-background-color: transparent;
    -fx-scale-x: 0.5;
    -fx-scale-y: 0.5
}

#backBtn:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 12, 0.5, 0.5, 0);
}

#cancelBtn {
    -fx-background-color: #B7B7B7;
}

#cancelBtn:hover {
    -fx-background-color: #737373;
}