.text-field {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 2px;
}

.button {
    -fx-background-color: #44BC91;
    -fx-background-radius: 10px;
    -fx-font-family: "DVN-Poppins";
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 7, 0.1, 0.1, 0);
}

.button .text {
    -fx-font-family: "DVN-Poppins ExtBd";
}

.text-field:focused {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 7, 0.1, 0.1, 0);
}

#front, #back, #dueDate, #category {
    -fx-font-family: "DVN-Poppins";
}

#cardDetailLabel {
    -fx-font-family: "DVN-Poppins ExtBd";
}

#cancelBtn {
    -fx-background-color: #B7B7B7;
}

#cancelBtn:hover {
    -fx-background-color: #737373;
}

#saveBtn:hover {
    -fx-background-color: #77DEB9;
}

#deleteBtn {
    -fx-background-color: #AB3434;
}

#deleteBtn:hover {
    -fx-background-color: #881b1b;
}
