.label {
    -fx-font-family: DVN-Poppins;
    -fx-font-size: 20px;
    -fx-text-fill: #44BC91;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.text-area{
    -fx-border-color: black;
    -fx-border-radius: 3px;
    -fx-background-color: transparent;
}

.button{
    -fx-background-color: #44BC91;
    -fx-background-radius: 10px;
    -fx-font-family: "DVN-Poppins ExtBd";
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #77DEB9;
}
